<div>
  <div>
    <h1>
      Photo details
    </h1>

    <div>
      <div>
        <a href="/photos">
          Go back
        </a>
      </div>

      <div>
        
      </div>
    </div>

    <dl>
      <dt>
        Image
      </dt>
      <dd>
        <img src="<%=@the_photo.image%>">
      </dd>
      <dt>
        Caption
      </dt>
      <dd>
        <%= @the_photo.caption %>
      </dd>
      <dt> 
        Owner
      </dt>
      <dd>
        <%=@the_photo.owner.username%>
      </dd>
      <dt>
        Posted
      </dt>
      <dd>
        <%= time_ago_in_words(@the_photo.created_at) %> ago
      </dd>
      <dt>
        Likes count
      </dt>
      <dd>
        <%= @the_photo.likes_count %>
      </dd>
      <dt>
        Comments count
      </dt>
      <dd>
        <%= @the_photo.comments_count %>
      </dd>
      <dt>
        Fans
      </dt>
      <dd>
        <%= @fan_names.join(", ") %>
      </dd>
      <dt>
        Add a fan
      </dt>
      <dd>
        <form action="/insert_like">
          <input type="hidden" name="query_fan_id" value="<%=session[:user_id]%>">
          <input type="hidden" name="query_photo_id" value="<%=@the_photo.id%>">
          <button>Like</button>
        </form>
      </dd>
      <dt>
        Delete photo
      </dt>
      <dd>
        <a href="/delete_photo/<%= @the_photo.id %>">
          Delete this photo
        </a>
      </dd>
      <dt>
        Edit photo
      </dt>
      <dd>
        <form action="/modify_photo/<%= @the_photo.id %>"  method="post" enctype="multipart/form-data">
          <div>
            <input type="hidden" id="comments_count_box" name="query_comments_count" value="<%= @the_photo.comments_count %>">
          </div>

          
            <label for="image_box">
              Image URL
            </label>

            <input type="file" id="image_box" name="query_image" value="<%= @the_photo.image %>">
          

          
            <label for="caption_box">
              Caption
            </label>

            <textarea id="caption_box" name="query_caption"><%= @the_photo.caption %></textarea>
          
            <input type="hidden" id="likes_count_box" name="query_likes_count" value="<%= @the_photo.likes_count %>">
          
            <input type="hidden" id="owner_id_box" name="query_owner_id" value="<%= @the_photo.owner_id %>">

          <button>
            Update photo
          </button>
        </form>
      </dd>
    </dl>
  </div>
</div>

<h2>Comments</h2>

<table>
  <tr>
    <th>Commenter</th>
    <th>Comment</th>
    <th>Posted</th>
  </tr>
  <tr>
    <%@comments.each do |the_comment|%>
      <td>
        <%=the_comment.author.username%>
      </td>
      <td>
        <%=the_comment.body%>
      </td>
      <td>
        <%=time_ago_in_words(the_comment.updated_at)%> ago
      </td>
  </tr>
  <%end%>
</table>

<h3>Add new comment</h3>

<form action="/insert_comment" method="post">
  <label for="new_comment">
    Comment
  </label>
  <input type="hidden" id="new_author" name="query_author_id" value="<%=session[:user_id]%>">
  <input type="hidden" id="current_photo" name="query_photo_id" value="<%=@the_photo.id%>">

  <input type="text" id="new_comment" name="query_body" value="Enter a comment...">

  <button>Add comment</button>
</form>
