<%list_of_followers = FollowRequest.where(:recipient_id => @the_user.id).where(:status => "accepted")%>
<%list_of_following = FollowRequest.where(:sender_id => @the_user.id).where(:status=> "accepted")%>
<%following_ids = list_of_following.map_relation_to_array(:recipient_id)%>
<h1><%=@the_user.username%></h1>

<dl>
  <dt>Private</dt>
  <dd><%=@the_user.private%></dd>

  <dt>Followers</dt>
  <dd><%=list_of_followers.count%></dd>

  <dt>Following</dt>
  <dd><%=list_of_following.count%></dd>
</dl>

<ul>
  <li>
    <a href="/users/<%=@the_user.username%>">Profile</a>
  </li>
  <li>
    <a href="/users/<%=@the_user.username%>/liked_photos">Liked photos</a>
  </li>
  <li>
    <a href="/users/<%=@the_user.username%>/feed">Feed</a>
  </li>
  <li>
    <a href="/users/<%=@the_user.username%>/discover">Discover</a>
  </li>
</ul>

<%feed_photos = Photo.where(:owner_id => following_ids)%>
<h2>Feed (<%=feed_photos.count%>)</h2>

<table border="1">
  <tr>
    <th>Image</th>
    <th>Owner</th>
    <th>Caption</th>
    <th>Posted</th>
    <th>Likes</th>
    <th></th>
  </tr>

  <%feed_photos.each do |the_feed_photo|%>
    <tr>
      <td>
        <img src="<%=the_feed_photo.image%>">
      </td>
      <td>
        <%=the_feed_photo.owner.username%>
      </td>
      <td>
        <%=the_feed_photo.caption%>
      </td>
      <td>
        <%=time_ago_in_words(the_feed_photo.created_at)%> ago
      </td>
      <td>
        <%=the_feed_photo.likes_count%>
      </td>
      <td>
        <a href="/photos/<%=the_feed_photo.id%>">Show details</a>
      </td>
    </tr>
  <%end%>
</table>
